.popup__container {
    background-color: white;
    width: 430px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    z-index: 10;
    position: relative;
    box-sizing: border-box;
    padding: 34px 36px 37px 36px;
}

@media screen and (max-width: 650px) {
    .popup__container {
        width: 282px;
        padding: 25px 22px;
    }
}