.profile__edit {
    width: 24px;
    height: 24px;
    object-fit: cover;
    cursor: pointer;
    transition: .5s;
    background-image: url("../../../images/Edit Button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: none;
}

.profile__edit:hover {
    opacity: 60%;
}

@media screen and (max-width: 650px) {
    .profile__edit {
        width: 18px;
        height: 18px;
    }
}