.popup__description{
    position: absolute;
    left: 0;
    bottom: -22px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;
    color: #FFFFFF;
}