.profile__line { 
  max-width: 280px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .profile__line {
    width: 100%;
    max-width: 336px;
    justify-content: flex-start;
  }
}