.profile__add {
  padding: 0;
  max-width: 282px;
  min-width: 282px;
  min-height: 50px;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: visibility 0s, opacity 0.5s linear;
  background-image: url(../../../images/profile_add.svg);
  background-size: 16px;
  border: 2px solid #fff;
  border-radius: 2px;
}

.profile__add:hover {
  opacity: 0.6;
}

@media screen and (min-width: 1024px) {
  .profile__add{
    min-width: 150px;
    max-width: 150px;
    background-size: 22px;
  }
}